{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:import/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "import",
    "jsx-a11y",
    "react",
    "prettier",
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "no-console": 1,
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
